<div id="<%= dom_id locality %>">

  <p>
    <strong>Name:</strong>
    <%= locality.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= locality.description %>
  </p>

  <p>
    <strong>Suburb:</strong>
    <%= locality.suburb.name %>
  </p>

</div>
