<div id="<%= dom_id suburb %>">
  <p>
    <strong>Name:</strong>
    <%= suburb.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= suburb.description %>
  </p>

  <p>
    <strong>City or Town:</strong>
    <%= suburb.city_town.name %>
  </p>

</div>
