<div id="<%= dom_id city_town %>">

  <p>
    <strong>Name:</strong>
    <%= city_town.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= city_town.description %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= city_town.region.name %>
  </p>

</div>
