<% content_for(:breadcrumb) do %>
  <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="javascript:void(0)">City</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">New</a></li>
<% end %>

<% content_for(:content) do %>
  
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New City</h4>
        <div class="basic-form">
        <%= render "form", city_town: @city_town %>
      </div>
    </div>
  </div>
</div>


  <div>
    <%= link_to "Back to contacts", contacts_path %>
  </div>

<% end %>