<% content_for(:breadcrumb) do %>
  <li class="breadcrumb-item"><%=link_to "Dashboard", home_index_path %></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
<% end %>

<% content_for(:content) do %>
    Profile Page
<% end %>